/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 460px) {}

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 580px) {

    body {
        background-color: whitesmoke;
        width: 100%;
    }

    .contenedor {
        width: 95vw;

        margin: .6em auto;
        grid-gap: .7em;
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas:

            'header    header    header'
            'nav       nav       nav'
            'main      main      main'
            'article   article   article'
            'mision    mision    mision'
            'aside     aside     aside'
            'section   section   section'
            'form      form      form'
            'footer    footer    footer';

    }

    /*barra de navegacion*/


    .navbar__item {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-50em);
        transition: all 1.2s ease-in-out;
    }

    .navbar__item--on {
        transform: translateX(0);
    }

    .navbar__menu {
        display: block;
        color: black;
        font-size: 1.7em;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__link {
        padding: 1em;
    }


    /*Logo*/
    .navbar__logo {
        width: 50px;
        margin-left: 20px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    /*Header*/
    .header__titulo {
        font-size: 14px;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }




    .main__social {
        display: none;
    }

    .main__titulo {
        font-size: 42px;
    }

    .main__tituloPre {
        font-size: 20px;
    }

    .main__tituloSub {
        font-size: 15px;
    }

    .main__btn {
        font-size: 12px;
    }

    /*boton whatsapp*/
    .btn__wsp {
        right: 0.6em;
        bottom: 3.5em;
    }

    /*ir arriba*/
    .btn__scrolltop {
        right: 1em;
    }




    /*section Rehma */
    .article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: article;
    }

    .article__texto {
        width: 100%;
    }

    .article__card {
        width: 80%;
        padding: 60px;
    }

    .article__parrafo {
        font-size: 20px;
        padding: 0;
    }

    .article__pie {
        font-size: 10px;
    }

    .article__card svg {
        width: 80vw;
        top: 190px;
    }


    /* estructura de texto y foto */

    .mision {
        flex-direction: column;
        margin: 0;
        padding: 1.5em;
    }

    .mision__texto {

        padding: 10px 0 20px 0;
        color: white;
        text-align: justify;
        margin-top: 50px;


    }

    .mision__tituloPre {
        font-size: 20px;
        font-family: 'Cardo', serif;
        font-weight: 100;
        margin-bottom: 0 0 8px 0;
        text-align: center;
        color: white;

    }

    .mision__titulo {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-align: center;
        line-height: 1.2em;
        margin-top: 10px;
        color: white;
    }

    .mision__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        margin-top: 10px;
        color: white;

    }

    .mision__parrafo {
        font-size: 12px;
        margin: 0 auto;
        padding: 0;
        line-height: 23px;
        color: white;
    }

    .mision__imagen {
        width: 14em;
        padding: 2em;
    }






    /*Precursores (Videos de Youtube*/
    .aside {
        height: auto;
    }

    .aside::before {
        height: auto;
    }



    .aside__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        font-size: 30px;
        z-index: 1;
        font-family: 'Cardo', serif;
        margin-top: 50px;

    }

    .aside__titulo {
        font-size: 35px;

    }

    .aside__subtitulo {
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 5px;

    }

    .aside__iframe {
        width: 70%;
        display: block;
    }

    .aside__iframe iframe {
        width: 400px;
        height: 200;
    }




    /*iglesia */

    .iglesia {

        width: 100%;
        height: auto;


        grid-area: section;

        display: flex;

        flex-wrap: wrap;
        padding: 20px;

        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;



    }

    .iglesia__titulo {
        line-height: 1.2em;

    }


    .iglesia__tituloPre {
        font-size: 23px;
    }

    .iglesia__tituloSub {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 5px;

    }

    .iglesia__contenedor {
        align-items: center;
        justify-content: center;
    }



    /* Modal niños */

    .modal__contenedor{
        width: 80%;
    }

    .modal__titulo{
        padding: .1em;
        margin-bottom: .1em;
    }

    .modal__parrafo{
        font-size: 12px;
        padding: 1em 0 1em 0;
    }

    .modal__cerrar{
        margin-top: 2em;
    }
   


    /*Formulario*/


    .form__contenedor {
        width: 100%;
    }








    /*footer*/

    /*Grupo1*/
    .footer__grupo1 {
        padding: 2.5em;
        grid-template-columns: 1fr;

    }

    /*Comunidad*/
    .footer__texto {
        text-align: center;
    }

    .footer__correo {
        display: block;
    }

    .footer__titulo {
        font-size: 23px;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }




    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: center;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__titulo1 {
        font-size: 23px;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }


    /*Siguenos*/
    .footer__texto2 {
        text-align: center;
        font-size: 30px;
    }

    .footer__titulo2 {
        font-size: 23px;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 18px;
        color: white;
    }

}



/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) {

    .contenedor {
        width: 95vw;


        margin: .6em auto;
        grid-gap: .7em;
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, auto);
        grid-template-areas:
            'header    header    header'
            'nav       nav       nav'
            'main      main      main'
            'article   article   article'
            'mision    mision    mision'
            'aside     aside     aside'
            'section   section   section'
            'form      form      form'
            'footer    footer    footer';
    }

    /*barra de navegacion*/
    .navbar__item {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-50em);
        transition: all 1.2s ease-in-out;


    }

    .navbar__item--on {
        transform: translateX(0);
    }

    .navbar__menu {
        display: block;
        color: black;
        font-size: 1.7em;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__link {
        letter-spacing: 10px;
        padding: 1em;
    }

    .navbar__logo {
        margin-left: 20px;
    }



    /*Precursores (Videos de Youtube*/
    .aside {
        height: auto;
    }

    .aside::before {
        height: auto;
    }



    .aside__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        font-size: 30px;
        z-index: 1;
        font-family: 'Cardo', serif;
        margin-top: 50px;

    }

    .aside__titulo {
        font-size: 35px;

    }

    .aside__subtitulo {
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 5px;

    }

    .aside__iframe {
        width: 70%;
        display: block;
    }

    .aside__iframe iframe {
        width: 400px;
        height: 200;
    }


    /* estructura de texto y foto */

    .mision {
        width: 100%;
        height: auto;
        grid-area: mision;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1.5em;
    }

    .mision__texto {
        width: 100%;
        padding: 20px 0 20px 0;
        color: white;
    }

    .mision__tituloPre {
        font-size: 20px;
        font-family: 'Cardo', serif;
        font-weight: 100;
        margin-bottom: 8px;
        text-align: center;
    }

    .mision__linea {
        width: 90px;
        height: 2px;
        background-color: var(--color-uno);



    }

    .mision__titulo {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-align: center;
        line-height: 1.2em;
        margin-top: 10px;
    }

    .mision__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        margin-top: 10px;
    }

    .mision__parrafo {
        font-size: 12px;
        margin-top: 25px;
        line-height: 23px;
    }

    .mision__imagen {
        width: 20em;
    }




    /*iglesia */

    .iglesia {
        width: 100%;
    }

    .iglesia__tituloPre {
        font-size: 20px;
    }

    .iglesia__titulo {
        font-size: 40px;
        line-height: 1.2em;
    }

    .iglesia__linea {
        width: 90px;
        height: 2px;
        background-color: var(--color-uno);
        text-align: center;
        margin: 15px auto;
    }

    .iglesia__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
    }

    .iglesia__contenedor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .iglesia__card {
        grid-template-columns: 260px;
    }

    .iglesia__cardTitulo {
        font-size: 20px;
    }




    /* Modal niños */


     .modal__contenedor{
        width: 80%;
    }

    .modal__titulo{
        padding: .5em;
        margin-bottom: .3em;
    }

    .modal__parrafo{
        font-size: 12px;
        padding: 2em 0 2em 0;
    }

    .modal__cerrar{
        margin-top: 2.5em;
    }
   

 

  






    /*Formulario*/
    .form__contenedor {
        width: 80%;
    }


    .form__textarea {
        background: rgba(255, 255, 255, 1);
    }




    /*footer*/

    /*Grupo1*/
    .footer__grupo1 {
        padding: 2.5em;
        grid-template-columns: 1fr;

    }

    /*Comunidad*/
    .footer__texto {
        text-align: center;
    }

    .footer__correo {
        display: block;
    }

    .footer__titulo {
        font-size: 23px;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }




    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: center;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__titulo1 {
        font-size: 23px;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }


    /*Siguenos*/
    .footer__texto2 {
        text-align: center;
        font-size: 30px;
    }

    .footer__titulo2 {
        font-size: 23px;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 18px;
        color: white;
    }
















}