/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 850px) {

    /*Lista enlaces*/
    .navbar__item {
        font-size: 10px;
        margin-right: 1em;
    }

    .header__titulo {
        font-size: 12px;
    }

    .navbar__logo {
        margin-left: 1em;
    }

    .navbar__link {
        list-style: none;
        letter-spacing: 2px;
        margin: 0 4px;
        padding: 8px;
        cursor: pointer;
    }

}



/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) {

    .contenedor {
        width: 95vw;


        margin: .6em auto;
        grid-gap: .7em;
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas:
            'header    header    header'
            'nav       nav       nav'
            'main      main      main'
            'article   article   article'
            'nosotros  nosotros  nosotros'
            'mision    mision    mision'
            'aside     aside     aside'
            'section   section   section'
            'form      form      form'
            'footer    footer    footer';
    }


    .header__titulo {
        font-size: 15px;
        letter-spacing: 4px;
        font-weight: 300;
        z-index: 9;
        color: white;
    }

    /*barra de navegacion*/
    .navbar__item {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-80em);
        transition: all 1.2s ease-in-out;


    }

    .navbar__item--on {
        transform: translateX(0);
    }

    .navbar__menu {
        display: block;
        color: black;
        font-size: 1.7em;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__link {
        letter-spacing: 13px;
        padding: 1em;
    }

    .navbar__logo {
        margin-left: 20px;
    }

    /* Main Pricipal */
    .main__titulo {
        font-size: 40px;
    }

    .main__tituloPre {
        font-size: 20px;
    }

    .main__tituloSub {
        font-size: 10px;
    }



    /*Precursores (Videos de Youtube*/
    .aside {
        height: auto;
    }

    .aside::before {
        height: auto;
    }



    .aside__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        font-size: 30px;
        z-index: 1;
        font-family: 'Cardo', serif;
        margin-top: 50px;

    }

    .aside__titulo {
        font-size: 35px;

    }

    .aside__subtitulo {
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 5px;

    }

    .aside__iframe {
        width: 70%;
        display: block;
    }

    .aside__iframe iframe {
        width: 400px;
        height: 200;
    }

    /*rehma*/

    .article__card {
        max-width: 600px;
        width: 95%;
        padding: 60px;
    }

    /* Nosotros */
    .nosotros {
        grid-area: nosotros;
        width: 100%;
        height: auto;
        /* background-color: #DFDBE5; */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        overflow: hidden;

    }

    /* texto e imagen Uno */
    .nosotros__textoUno {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .nosotros__titulo--uno {
        font-size: 90px;
        letter-spacing: 0;
        margin: 0 auto;
        text-align: center;
    }

    .nosotros__tituloSub--uno {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 15px;
        text-align: center;
        margin: 25px auto;
    }

    .nosotros__parrafo--uno {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 0px;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;

    }

    .nosotros__imagenUno {   
        width: 100%;
        margin: 0 auto;
    }

    /* texto e imagen Dos */
    .nosotros__textoDos {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .nosotros__titulo--dos {
        font-size: 90px;
        letter-spacing: 0;
        margin: 0 auto;
    }

    .nosotros__tituloSub--dos {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 15px;
        text-align: center;
        margin: 25px auto;
    }

    .nosotros__parrafo--dos {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: 0px;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
    }

    .nosotros__imagenDos {
        width: 100%;
        margin: 0 auto;
        order: 4;

    }



    /* estructura de texto y foto */

    .mision {
        width: 100%;
        height: auto;
        grid-area: mision;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1.5em;
    }

    .mision__texto {
        width: 100%;
        padding: 20px 0 20px 0;
        color: white;
    }

    .mision__tituloPre {
        font-size: 22px;
        font-family: 'Cardo', serif;
        font-weight: 100;
        margin-bottom: 8px;
        text-align: center;
    }

    .mision__linea {
        width: 90px;
        height: 2px;
        background-color: var(--color-uno);



    }

    .mision__titulo {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-align: center;
        line-height: 1.2em;
        margin-top: 10px;
    }

    .mision__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        margin-top: 10px;
    }

    .mision__parrafo {
        font-size: 12px;
        margin-top: 25px;
        line-height: 23px;
    }

    .mision__imagen {
        width: 20em;
    }




    /*iglesia */

    .iglesia {
        width: 100%;
    }

    .iglesia__tituloPre {
        font-size: 20px;
    }

    .iglesia__titulo {
        font-size: 40px;
        line-height: 1.2em;
    }

    .iglesia__linea {
        width: 90px;
        height: 2px;
        background-color: var(--color-uno);
        text-align: center;
        margin: 15px auto;
    }

    .iglesia__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
    }

    .iglesia__contenedor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .iglesia__card {
        grid-template-columns: 300px;
    }

    .iglesia__cardTitulo {
        font-size: 20px;
    }




    /* Modal niños */



    .popup__card {
        display: flex;
        flex-direction: column;
        height: 80%;
        max-height: 800px;
    }

    .popup__img {
        width: 100%;
        height: 30%;
    }

    .popup__text {
        width: 100%;
        height: 60%;
        padding: 35px;
        text-align: justify;
    }

    .popup__text h1 {
        font-size: 25px;
    }

    .popup__text p {
        font-size: 12px;
        line-height: 18px;

    }












    /*Formulario*/
    .form__contenedor {
        width: 80%;
    }


    .form__textarea {
        background: rgba(255, 255, 255, 1);
    }




    /*footer*/

    /*Grupo1*/
    .footer__grupo1 {
        padding: 2.5em;
        grid-template-columns: 1fr;

    }

    /*Comunidad*/
    .footer__texto {
        text-align: center;
    }

    .footer__correo {
        display: block;
    }

    .footer__titulo {
        font-size: 23px;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }




    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: center;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__titulo1 {
        font-size: 23px;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }


    /*Siguenos*/
    .footer__texto2 {
        text-align: center;
        font-size: 30px;
    }

    .footer__titulo2 {
        font-size: 23px;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 18px;
        color: white;
    }

}



/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 580px) {

    body {
        background-color: whitesmoke;
        width: 100%;
    }

    .contenedor {
        width: 95vw;

        margin: .6em auto;
        grid-gap: .7em;
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        grid-template-areas:

            'header    header    header'
            'nav       nav       nav'
            'main      main      main'
            'article   article   article'
            'nosotros  nosotros  nosotros'
            'mision    mision    mision'
            'aside     aside     aside '
            'section   section   section'
            'form      form      form'
            'footer    footer    footer';

    }

    /*barra de navegacion*/


    .navbar__item {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-50em);
        transition: all 1.2s ease-in-out;
    }

    .navbar__item--on {
        transform: translateX(0);
    }

    .navbar__menu {
        display: block;
        color: black;
        font-size: 1.4em;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__link {
        padding: 1em;
    }


    /*Logo*/
    .navbar__logo {
        width: 45px;
        margin-left: 20px;
    }

    .header__titulo {
        font-size: 12px;
        letter-spacing: 4px;
        font-weight: 300;
        z-index: 9;
        color: white;
    }


    body {
        margin: 0;
        padding: 0;
    }


    .main__social {
        display: none;
    }

    .main__titulo {
        font-size: 35px;
        letter-spacing: 1px;
    }

    .main__tituloPre {
        font-size: 19px;
    }

    .main__tituloSub {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .main__btn {
        font-size: 12px;
    }

    /*boton whatsapp*/
    .btn__wsp {
        right: 0.6em;
        bottom: 3.5em;
    }

    /*ir arriba*/
    .btn__scrolltop {
        right: 1em;
    }




    /*section Rehma */
    .article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: article;
    }

    .article__texto {
        width: 100%;
    }

    .article__card {
        max-width: 600px;
        width: 95%;
        padding: 60px;
    }

    .article__parrafo {
        font-size: 20px;
        padding: 0;
    }

    .article__pie {
        font-size: 10px;
    }

    .article__card svg {
        top: 230px;
        left: -60px;
    }


    /* Nosotros */


    /* estructura de texto y foto */

    .mision {
        flex-direction: column;
        margin: 0;
        padding: 1.5em;
    }

    .mision__texto {

        padding: 0px 0 20px 0;
        color: white;
        text-align: justify;
        margin-top: 50px auto;


    }

    .mision__tituloPre {
        font-size: 18px;
        font-family: 'Cardo', serif;
        font-weight: 100;
        text-align: center;
        color: white;

    }

    .mision__titulo {
        font-size: 80px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
        color: white;
        line-height: .9em;
    }

    .mision__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 8px;
        text-align: center;
        line-height: 1px;
        margin-bottom: 40px;
        color: white;

    }

    .mision__parrafo {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
        line-height: 20px;
        color: white;
        text-align: justify;
    }

    .mision__imagen {
        width: 14em;
        padding: 2em;
    }



    /*Precursores (Videos de Youtube*/
    .aside {
        height: auto;
    }

    .aside::before {
        height: auto;
    }



    .aside__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        z-index: 1;
        font-family: 'Cardo', serif;
        margin-top: 50px;

    }

    .aside__titulo {
        font-size: 45px;

    }

    .aside__subtitulo {
        font-size: 25px;
        margin-top: 10px;
        letter-spacing: 6px;

    }

    .aside__iframe {
        width: 70%;
        display: block;
    }

    .aside__iframe iframe {
        width: 400px;
        height: 200;
    }




    /*iglesia */

    .iglesia {

        width: 100%;
        height: auto;


        grid-area: section;

        display: flex;

        flex-wrap: wrap;
        padding: 20px;

        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;



    }

    .iglesia__titulo {
        line-height: 1.2em;

    }


    .iglesia__tituloPre {
        font-size: 23px;
    }

    .iglesia__tituloSub {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 5px;

    }

    .iglesia__contenedor {
        align-items: center;
        justify-content: center;
    }




    /* Modal niños */




    /*Formulario*/


    .form__contenedor {
        width: 100%;
    }








    /*footer*/

    /*Grupo1*/
    .footer__grupo1 {
        padding: 2.5em;
        grid-template-columns: 1fr;

    }

    /*Comunidad*/
    .footer__texto {
        text-align: center;
    }

    .footer__correo {
        display: block;
    }

    .footer__titulo {
        font-size: 23px;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }




    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: center;
        margin: 0 auto;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__titulo1 {
        font-size: 23px;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }


    /*Siguenos*/
    .footer__texto2 {
        text-align: center;
        font-size: 30px;
    }

    .footer__titulo2 {
        font-size: 23px;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 14px;
        color: white;
        margin: 0 auto;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 460px) {

    .header__titulo {
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    /* Modal */

    .popup__img {
        width: 100%;
        background-image: url(img/alabanza3.jpg);
        background-size: cover;
        background-position: center;
    }

    .popup__text {
        width: 90%;
        height: auto;
        padding: 30px;
        margin: 0 auto;
    }

    .popup__text h1 {
        font-size: 20px;
        color: black;
        text-align: center;
    }


    .popup__text p {
        font-family: 'Montserrat', sans-serif;
        color: black;
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .popup__social {
        display: flex;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        transition: all 300ms ease;
        padding: 0;


    }

    .popup__social a {
        padding: 10px;
        color: black;

    }

    .popup__social a:hover {
        color: aqua;
    }




    /*footer*/

    /*Grupo1*/
    .footer__grupo1 {
        padding: 2.5em;
        grid-template-columns: 1fr;

    }

    /*Comunidad*/
    .footer__texto {
        text-align: left;
        padding: 0;
    }

    .footer__correo {
        display: block;
    }

    .footer__correo i {
        display: none;
    }

    .footer__titulo {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: left;
        margin-left: 0;
    }




    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: left;
        margin: 0 auto;
        padding: 0;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__reuniones i {
        display: none;
    }

    .footer__titulo1 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }


    /*Siguenos*/
    .footer__texto2 {
        text-align: left;
        font-size: 30px;
        padding: 0;
    }

    .footer__titulo2 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__ubicacion i {
        display: none;
    }

    .footer__social {
        display: flex;
        align-items: flex-start;
        justify-content: start;
    }

    .footer__social a {
        font-size: 20px;
    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 14px;
        color: white;
        margin: 0 auto;
    }
}