@media only screen and (max-width: 1200px) {
    /*barra de navegacion*/

    .navbar__item {
        display: block;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-80em);
        transition: all 1.2s ease-in-out;
    }

    .navbar__item--on {
        transform: translateX(0);
    }

    .navbar__menu {
        display: block;
        color: black;
        font-size: 1.4em;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__link {
        padding: .5em;
        font-size: 12px;
        letter-spacing: 5px;
    }

    /*Logo*/
    .navbar__logo {
        width: 45px;
        margin-left: 20px;
    }

    /* redes sociles */
    .navbar__social {
        display: none;
    }

    .header__titulo {
        font-size: 18px;
        letter-spacing: 0px;
        font-weight: 600;
        z-index: 9;
        color: white;
    }

    .main {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main__titulo {
        line-height: 70px;

    }

    .article__card {
        width: 80%;
    }

    .article__parrafo {
        text-align: center;
        padding: 5px;
    }

    .mision__texto {
        width: 100%;
    }

    .mision::before {
        display: none;
    }

    .mision__titulo {
        text-align: center;
    }

    .mision__titulo {
        text-align: center;
    }

    .mision__tituloPre {
        text-align: center;
    }

    .mision__tituloSub {
        text-align: center;
    }

    .mision__parrafo {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
        text-align: justify;
        z-index: 9;
    }

    .mision__texto img {
        width: 350px;
        margin: 0 auto;
    }

    /* texto descontracturado */

    .t-stroke {
        position: absolute;
        top: 78%;
        left: 0;
        margin: auto;
        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;

        font-size: 60px;
        line-height: 80px;
    }

    .t-shadow {
        text-shadow: 7px 7px var(--color-uno);
    }


    .aside {
        height: auto;
        gap: 20px;
    }

    .aside::before {
        height: auto;
    }

    .aside__titulo {
        font-size: 30px;
        font-weight: 400;
    }

    .aside__titulo2 {
        font-size: 30px;
        font-weight: 400;
    }

    .aside__titulo3 {
        font-size: 30px;
        font-weight: 400;
    }

    .aside__texto {
        width: 250px;
        height: 300px;
    }

    .aside__texto2 {
        width: 250px;
        height: 300px;
    }

    .aside__texto3 {
        width: 250px;
        height: 300px;
    }

    /* swiper (testimonios) */
    .swiper-texto {
        width: 60%;
        height: 50vh;
    }

    .swiper-texto h2 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 65px;
        color: black;
    }

    .swiper-texto h3 {
        font-size: 15px;
    }

    .swiper-texto p {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        margin-top: 16px;
        text-align: justify;
        font-family: 'Cardo', serif;
    }

    .swiper-imagen {
        width: 120px;
        height: 120px;
        border: 3px solid white;
        top: 5em;
    }

    .swiper-fondoImg {
        width: 100%;
        height: 25%;
    }
}

/* Samsung TabE (Martina) */
@media only screen and (max-width: 821px) {

    /* preloader */
    /*flecha viene*/
    .elemento__1 {
        width: 8%;
    }

    /*cruz*/
    .elemento__2 {
        width: 12%;
    }

    .vertical {
        width: 6px;
    }

    .horizontal {
        height: 6px;
    }

    /*tumba*/
    .elemento__3 {
        width: 18%;
    }

    .circulo__1 {
        border: 3px solid white;
    }

    .circulo__2 {
        border: 6px solid white;
    }

    /*flecha q va */
    .elemento__4 {
        width: 8%;
    }

    /*flecha q vuelve */
    .elemento__5 {
        width: 8%;
    }

    .main::before {
        height: 70vh;
    }

    .main__titulo {
        font-size: 4em;
        line-height: 1em;
        margin: 0;
    }

    .main__tituloPre {
        margin-top: 5em;
    }

    .main__tituloSub {
        font-size: .7em;
        margin-top: -1em;
        margin-bottom: 1em;
        letter-spacing: 10px;
    }

    .navbar__link {
        padding: .8em;
        font-size: 20px;
        letter-spacing: 5px;
    }

    /* article (rehma 2022) */
    .article__card {
        width: 80vw;
        height: 50vh;
    }

    .article__parrafo {
        font-size: 1.4em;
    }

    .article__card svg {
        width: 50vw;
        position: absolute;
        top: 300px;
        left: -20px;
    }

    /* banner */
    .banner__titulo {
        font-size: 1.3em;
    }

    .banner__img {
        width: 50px;
        height: auto;
        left: 30%;
        bottom: 20%;
    }

    /* vision */
    .mision__texto img {
        width: 600px;
        margin-top: 4em;
    }

    .mision__parrafo {
        padding-top: 2em;
    }

    /* texto descontracturado */
    .t-stroke {
        position: absolute;
        top: 72%;
        font-size: 7em;
        line-height: 90px;
    }

    .aside {
        height: 45vh;
    }

    .aside__texto {
        width: 10em;
        height: 10em;
    }

    .aside__texto2 {
        width: 10em;
        height: 10em;
    }

    .aside__texto3 {
        width: 10em;
        height: 10em;
    }

    .aside__titulo {
        font-size: 20px;
    }

    .aside__titulo2 {
        font-size: 20px;
    }

    .aside__titulo3 {
        font-size: 20px;
    }

    .aside__subtitulo {
        font-size: 14px;
    }

    .aside__subtitulo2 {
        font-size: 14px;
    }

    .aside__subtitulo3 {
        font-size: 14px;
    }

    /* testimonios */
    .swiper-texto {
        height: 45%;
    }

    .swiper-texto h2 {
        padding-top: 1em;
    }

    .swiper-imagen {
        top: 3.7em;
    }

    .container__diagonal {
        /* Absolute position */
        left: 0px;
        position: absolute;
        top: 500px;

        /* Take full size */
        height: 50%;
        width: 100%;

        /* Create diagonal sides */
        transform: skewY(-5deg);

        /* Background color */
        background-color: gray;

        /* Displayed under the main content */
        z-index: -1;
    }

    /* Cuarto */
    .cuarto {
        height: 200px;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    .cuarto::before {
        height: 200px;
    }

    .cuarto i {
        font-size: 30px;
        margin: 0;
    }

    .cuarto__titulo {
        margin: 0;
    }

    .cuarto__parrafo {
        width: 90%;
        font-size: 10px;
        line-height: normal;
        margin: 0;
    }

    .cuarto__btn {
        margin: 0px;
    }

}






@media only screen and (max-width: 768px) {

    /* Multimedia */
    .aside {
        height: auto;
        gap: 20px;
    }

    .aside::before {
        height: auto;
    }

    .main {
        background-position: center;
        background-size: 1200px;
    }

    /* vision */
    .mision__texto img {
        margin-top: 90px;
    }

    /* banner */
    .banner__img {
        width: 60px;
        height: 60px;
        top: 9em;
        left: 3em;
    }

    /* testimonios */
    .swiper-texto {
        width: 60%;
        height: 60vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
    }

    .swiper-texto p {
        font-size: 17px;
    }

    .swiper-imagen {
        top: 3em;
    }

    .swiper-fondoImg {
        height: 20%;
    }

}

@media only screen and (max-width: 675px) {

    body {
        background-color: whitesmoke;
        width: 100%;
    }


    .header__titulo {
        font-size: 12px;
        letter-spacing: 0px;
        font-weight: 600;
        z-index: 9;
        color: white;
    }


    /*Loader*/
    .loader__texto {
        width: 60%;
        margin: 0 auto;
        font-size: 12px;
        margin-bottom: 100px;
    }

    .contenedor {
        width: 95vw;
        margin: .6em auto;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(14, auto);
        grid-template-areas:

            'header    header    header'
            'nav       nav       nav'
            'main      main      main'
            'article   article   article'
            'divLeft   divLeft   divLeft'
            'divRight  divRight  divRight'
            'mision    mision    mision'
            'banner    banner    banner'
            'aside     aside     aside '
            'section   section   section'
            'ministerios   ministerios   ministerios'
            'cuarto     cuarto    cuarto'
            'testimonios testimonios testimonios'
            'galeria    galeria  galeria'
            'form      form      form'
            'footer    footer    footer';

    }

    /*barra de navegacion*/

    body {
        margin: 0;
        padding: 0;
    }

    .main {
        width: 100%;
        height: 600px;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* background-position-x: -90px;
        background-position-y: -10px; */
        grid-area: main;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__social {
        display: none;
    }

    .main__text {
        width: 90%;
    }

    .main__titulo {
        font-size: 2em;
        line-height: 40px;
        font-weight: 600;
        margin: 5px auto;
        letter-spacing: 0px;
    }

    .main__tituloPre {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .main__tituloFondo {
        position: absolute;
        top: .4em;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 210px;
        letter-spacing: 1px;
        line-height: 80px;
        font-family: 'Cardo', serif;
        color: rgba(138, 128, 128, 0.10);
        user-select: none;
    }

    .main__tituloSub {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
    }

    .main__btn {
        font-size: 12px;
    }

    /*boton whatsapp*/
    .btn__wsp {
        right: 0.6em;
        bottom: 3.5em;
    }

    /*ir arriba*/
    .btn__scrolltop {
        right: 1em;
    }

    /*section Rehma */
    .article {
        scroll-margin-top: 0;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: article;

        /* background-color: violet; */
    }

    .article__texto {
        width: 100%;
    }

    .article__card {
        max-width: 600px;
        width: 95%;
        height: 18em;
        padding: 34px;
    }

    .article__parrafo {
        font-size: 18px;
        padding: 0;
        text-align: center;
    }

    .article__pie {
        font-size: 10px;
    }

    .article__card svg {
        top: 120px;
        left: -60px;
    }

    /* Nosotros */
    .dividida__left {
        scroll-margin-top: 20px;
        grid-area: divLeft;
        /* height: 100%; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;

    }

    .left__textoDos {
        width: 100%;
        height: auto;
        padding: 20px;
        color: white;
        text-align: center;
        margin: 0 auto;
        background-color: rgba(59, 64, 134, .7);

    }

    .left__titulo--dos {
        margin-top: 20px;
    }

    .left__parrafo--dos {
        margin-bottom: 20px;
    }

    .dividida__right {
        grid-area: divRight;
        /* height: 100%; */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .right__frase {
        display: none;
    }

    .left__frase {
        display: none;
    }

    .right__textoDos {
        width: 100%;
        color: white;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: var(--color-uno);
    }

    .right__titulo--dos {
        margin-top: 20px;
    }

    .right__parrafo--dos {
        margin-bottom: 20px;
    }

    /* banner */
    .banner {
        width: 100%;
        height: 150px;
    }

    .banner::before {
        width: 100%;
        height: 150px;
    }

    .banner__titulo {
        padding: 5px;
        font-size: 16px;
        line-height: 25px;
    }

    .banner cite {
        font-size: 12px;
        line-height: 25px;
    }

    .banner__img {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        left: 100px;
        top: 85px;
    }


    /* estructura de texto y foto */
    .mision {
        scroll-margin-top: 20px;
        flex-direction: column;
        margin: 0 auto;
        padding: 1em;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    .mision__texto {
        width: 100%;
        height: auto;
        padding: 0;
        color: white;
        text-align: justify;
        margin: 3em auto;
        background: none;
    }

    .mision__titulo {
        text-align: center;
    }

    .mision__tituloSub {
        margin-bottom: 10px;
        text-align: center;
    }

    .mision__tituloPre {
        text-align: center;
    }

    .mision__parrafo {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
        text-align: justify;
        overflow: hidden;
    }

    .mision__parrafo:active {
        cursor: default;
        display: block;
    }

    .mision__texto img {
        display: block;
        max-width: 400px;
        padding: 0;
        margin: 50px auto;
    }

    /* texto descontracturado */

    .t-stroke {
        width: 280px;
        position: absolute;
        top: 82%;
        left: 41%;
        margin: -140px 0 0 -140px;

        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;

        font-size: 98px;
        line-height: 80px;
    }



    /*Precursores (Videos de Youtube*/
    /* aside presursores*/
    .aside {
        scroll-margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .aside::before {
        width: 100%;
        height: auto;
    }

    .aside__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        z-index: 1;
        margin-top: 50px;
    }

    .aside__titulo {
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 1.2em;
        margin-top: 10px;
        font-weight: 400;
    }

    .aside__subtitulo {
        font-size: 16px;
        letter-spacing: 3px;
    }

    .aside__iframe {
        width: 90%;
        display: block;
    }

    .aside__iframe iframe {
        width: 500px;
        height: 220px;
        margin: 4em auto;
    }

    /* aside podcast */
    .aside__texto2 {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        z-index: 1;
        margin-top: 50px;
    }

    .aside__titulo2 {
        font-size: 30px;
        letter-spacing: 5px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 1.2em;
        font-weight: 400;
    }

    .aside__subtitulo2 {
        font-size: 16px;
        letter-spacing: 3px;
    }

    .aside__iframe {
        width: 70%;
        display: block;
    }

    .aside__iframe iframe {
        width: 400px;
        height: 200;
    }

    /* aside ultimas reuniones */
    .aside__texto3 {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
        z-index: 1;
        margin-top: 50px;
    }

    .aside__titulo3 {
        font-size: 30px;
        letter-spacing: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .aside__subtitulo3 {
        font-size: 16px;
        letter-spacing: 3px;
    }

    .aside__iframe {
        width: 90%;
        display: block;

    }

    .aside__iframe iframe {

        width: 500px;
        height: 220px;
        margin: 4em auto;
    }

    .aside__imagen {
        width: 250px;
        flex-wrap: wrap;
    }

    /*iglesia */
    .iglesia {
        scroll-margin-top: 20px;
        width: 100%;
        height: auto;
        grid-area: section;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
    }

    .iglesia__texto {
        line-height: 8px;
    }

    .iglesia__titulo {
        line-height: 1.2em;
        font-weight: 600;
    }

    .iglesia__tituloPre {
        font-size: 18px;
    }

    .iglesia__contenedor {
        align-items: center;
        justify-content: center;
    }


    /* Modal jovenes */
    .popup__card {
        width: 90%;
    }

    .popup__text {
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .popup__text h2 {
        font-size: 25px;
    }

    .popup__text p {
        font-size: 12px;
        line-height: normal;
    }


    /* testimonios */
    .swiper-texto {
        width: 60%;
        height: 60vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
    }

    .swiper-texto p {
        font-size: 17px;
    }

    .swiper-fondoImg {
        height: 20%;
    }

    /*Galeria*/
    .galeria {
        scroll-margin-top: 20px;
        grid-area: galeria;
        width: 100%;
        height: auto;
        background: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: .8em;
    }

    .galeria__texto {
        width: 100%;
        height: auto;
        text-align: center;
        color: black;
        z-index: 1;
        margin: 5em auto 3em;
    }

    .galeria__titulo {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 50px;
    }

    .galeria__subtitulo {
        font-size: 15px;
        font-weight: 400;
        margin-top: 5px;
    }

    .galeria__picture {
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .galeria__picture::before {
        content: "Tristán Suárez";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #6c678ba6;
        transform: scale(0);
        transition: transform .4s;
        color: white;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .6em;
    }

    .galeria__picture:hover::before {
        transform: scale(1) rotate(360deg);
    }

    .galeria__grid {
        width: 100%;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas:
            "img1   img1    img1    img1"
            "img2   img2    img2    img2"
            "img3   img3    img3    img3"
            "img4   img4    img4    img4"
            "img5   img5    img5    img5"
            "img6   img6    img6    img6"
            "img7   img7    img7    img7"
            "img8   img8    img8    img8";
        gap: .5em;


    }

    .galeria__picture--g1 {
        grid-area: img1;
    }

    .galeria__picture--g2 {
        grid-area: img2;
    }

    .galeria__picture--g3 {
        grid-area: img3;
    }

    .galeria__picture--g4 {
        grid-area: img4;
    }

    .galeria__picture--g5 {
        grid-area: img5;
    }

    .galeria__picture--g6 {
        grid-area: img6;
    }

    .galeria__picture--g7 {
        grid-area: img7;
    }

    .galeria__picture--g8 {
        grid-area: img8;
    }

    .galeria__img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    /*Formulario*/
    .form__contenedor {
        width: 90%;
    }

    /* Mapa */
    section .map {
        margin: 0 auto;
        padding: 15px;
        width: 100%;
    }

    /*footer*/
    .footer {
        margin: 0 auto;
        text-align: center;
        background-color: rgba(59, 64, 134, 1);
    }

    /*Grupo1*/
    .footer__grupo1 {
        padding: 0em;
        grid-template-columns: 1fr;
        margin: 20px auto;
    }

    /*Comunidad*/
    .footer__texto {
        text-align: center;
    }

    .footer__correo {
        display: block;
    }

    .footer__titulo {
        font-size: 23px;
    }

    .footer__parrafo {
        font-size: 14px;
        font-weight: 100;
        text-align: center;
    }

    /*Sobre nosotros*/
    .footer__texto1 {
        text-align: center;
        margin: 0 auto;
    }

    .footer__reuniones {
        display: block;
    }

    .footer__titulo1 {
        font-size: 23px;
    }

    .footer__parrafo1 {
        font-size: 14px;
        font-weight: 100;
    }

    /*Siguenos*/
    .footer__texto2 {
        text-align: center;
        font-size: 30px;
    }

    .footer__titulo2 {
        font-size: 23px;
    }

    .footer__ubicacion {
        display: block;
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__social a:hover {
        transform: scale(1.1);
    }

    .footer__grupo2 {
        font-size: 14px;
        color: white;
        margin: 0 auto;
    }
}



@media only screen and (max-width: 450px) {

    .main {
        background-position: center;
        background-size: 1200px;
    }

    /*banner*/
    .banner__img {
        top: 4em;
        left: 1.5em;
    }


    .t-stroke {
        width: 280px;
        position: absolute;
        top: 87%;
        left: 48%;
        margin: -140px 0 0 -140px;

        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;

        font-size: 70px;
        line-height: 80px;
    }



    /* testimonios */
    .swiper-texto {
        width: 80%;
        height: 60vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
    }

    .swiper-texto p {
        font-size: 16px;
    }

    .swiper-fondoImg {
        height: 18%;
    }

    .swiper-imagen {
        width: 90px;
        height: 90px;
    }

    .iglesia__titulo {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 50px;
    }


    /* Modal niños */
    .popup__card {
        height: 85%;
        display: flex;
        flex-direction: column;
    }

    .popup__img {
        width: 100%;
        height: 30%;
        filter: contrast(1.2);
    }

    .popup__text {
        width: 100%;
        height: 70%;
        padding: 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }

    .popup__text h2 {
        font-size: 22px;
        font-weight: 600;

    }

    .popup__text p {
        margin-top: 12px;
        font-size: 12px;
    }

    .popup__social a {
        font-size: 25px;
        padding: 10px;
        color: black;

    }

    .popup__social a:hover {
        color: var(--color-tres);
    }
}

/* Samsung Galaxy A20 (Sebastian) */
@media only screen and (max-width: 425px) {

    /* preloader */
    /*flecha viene*/
    .elemento__1 {
        width: 12%;
        font-size: 30px;
    }

    /*cruz*/
    .elemento__2 {
        width: 6%;

    }

    .vertical {
        width: 4px;
        height: 36px;
    }

    .horizontal {
        width: 25px;
        height: 5px;
        top: 20px;
    }

    /*tumba*/
    .elemento__3 {
        width: 20%;
    }

    .circulo__1 {
        width: 40px;
        height: 40px;
        border: 3px solid white;

    }

    .circulo__2 {
        width: 40px;
        height: 40px;
        border: 4px solid white;
        margin-left: 8px;
    }

    @keyframes mymove {
        0% {
            right: 0px;
        }

        25% {
            right: 15px;
        }

        50% {
            right: 15px;
        }

        100% {
            right: 0px;
        }
    }

    /*flecha q va */
    .elemento__4 {
        width: 2%;
        font-size: 30px;
    }

    /*flecha q vuelve */
    .elemento__5 {
        width: 10%;
        font-size: 30px;
        padding: 10px;
    }

    .elemento__titulo {
        font-size: 10px;
    }

    /* NavBar */
    .navbar__link {
        font-size: 16px;
    }

    /*Contenedor general (grilla layaut)*/
    .contenedor {
        width: 95vw;
        max-width: 65em;
        margin: 1.2em auto;
        grid-gap: .5em;
        display: grid;

    }


    .main {
        background-position: center;
        background-size: cover;
    }

    .main::before {
        height: auto;
    }

    /*Rehma*/
    .article {
        height: 100vh;
    }

    .article__card {
        width: 100%;
        box-shadow: none;
    }

    .article__parrafo {
        font-size: 25px;
        line-height: 33px;
    }

    .article__pie {
        font-size: 12px;
    }

    /* Dividida Left y Rigth */
    .dividida__left {
        background: none;
    }

    .dividida__right {
        background: none;
    }

    /*banner*/
    .banner__img {
        top: 3.5em;
        left: 2em;
    }

    .detalles {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 20px;
        margin-top: 1em;
        text-align: justify;
    }

    summary {
        margin: 20px 0;
        color: aqua;
    }

    /* Ministerios */
    .ministerios {
        height: 70vh;
    }

    .ministeriosCard {
        width: 95%;
    }

    .ministeriosCard__imagen {
        width: 40%;
    }

    .ministeriosCard__texto {
        width: 90%;
        padding: 10px;
    }

    .ministeriosCard__parrafo {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }


    /* Cuarto */
    .cuarto {
        height: 70vh;
        padding: 0;
    }

    .cuartoCard {
        width: 95%;
    }

    .cuartoCard__imagen {
        width: 40%;
    }

    .cuartoCard__texto {
        width: 90%;
        padding: 10px;
    }

    .cuartoCard__tituloPre {
        font-size: 15px;
    }

    .cuartoCard__titulo {
        font-size: 20px;
        line-height: 22px;
    }

    .cuartoCard__parrafo {
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }


    /* testimonios */
    .swiper-texto {
        width: 80%;
        height: 60vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
    }

    .swiper-texto p {
        font-size: 16px;
    }

    .swiper-fondoImg {
        height: 18%;
    }

    .swiper-imagen {
        width: 90px;
        height: 90px;
    }

    /* imagen mision */
    .mision__texto img {
        width: 350px;
    }

    /* texto descontracturado */
    .t-stroke {
        width: 280px;
        position: absolute;
        top: 87%;
        left: 50%;
        margin: -140px 0 0 -140px;

        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;

        font-size: 70px;
        line-height: 80px;
    }

    .iglesia__titulo {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 50px;
    }

    /* Modal niños */
    .popup__card {
        height: 85%;
        display: flex;
        flex-direction: column;
    }

    .popup__img {
        width: 100%;
        height: 30%;
        filter: contrast(1.2);
    }

    .popup__text {
        width: 100%;
        height: 70%;
        padding: 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }

    .popup__text h2 {
        font-size: 22px;
        font-weight: 600;

    }

    .popup__text p {
        margin-top: 12px;
        font-size: 12px;
    }

    .popup__social a {
        font-size: 25px;
        padding: 10px;
        color: black;

    }

    .popup__social a:hover {
        color: var(--color-tres);
    }

    .container__diagonal {
        /* Absolute position */
        left: 0px;
        position: absolute;
        top: 400px;

        /* Take full size */
        height: 35%;
        width: 100%;

        /* Create diagonal sides */
        transform: skewY(-5deg);

        /* Background color */
        background-color: gray;

        /* Displayed under the main content */
        z-index: -1;
    }


}





@media only screen and (max-width: 375px) {

    .main {
        background-position: center;
        background-size: 1200px;
    }

    /*banner*/
    .banner__img {
        top: 4.5em;
    }

    /* mision */
    .t-stroke {
        width: 280px;
        position: absolute;
        top: 90%;
        left: 55%;
        margin: -140px 0 0 -140px;

        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;

        font-size: 60px;
        line-height: 80px;
    }

    .iglesia__titulo {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 50px;
    }


    /*testimonios*/
    .swiper-texto {
        width: 80%;
        height: 50vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
    }

    .swiper-texto p {
        font-size: 14px;
    }

    .swiper-fondoImg {
        height: 18%;
    }

    .swiper-imagen {
        width: 90px;
        height: 90px;
    }

    /* popus */
    .popup__img {
        background-position: center;
    }

    .popup__text p {
        font-size: 10px;
        line-height: 14px;
    }

    .popup__card {
        height: 65%;
    }

    .mision img {
        width: 300px;
    }




}

/* Landscape */
@media only screen and (max-width: 854px) and (orientation: landscape) {
    .main {
        background-size: cover;
        background-position: top;
    }

    /* multimedia */
    .aside__texto {
        height: 40%;
    }

    .aside__texto2 {
        height: 40%;
    }

    .aside__texto3 {
        height: 40%;
    }

    /* testimonios */
    .swiper-texto {
        width: 80%;
        height: 80vh;
        color: black;
    }

    .swiper-texto h2 {
        margin-top: 75px;
        color: black;
        margin-top: 2em;
    }

    .swiper-texto p {
        font-size: 14px;
        margin-top: 0;
    }

    .swiper-fondoImg {
        height: 25%;
    }

    .swiper-imagen {
        width: 90px;
        height: 90px;
        top: 1.5em;
    }
}