@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cardo:ital@1&family=Irish+Grover&family=Montserrat:wght@100;300;400;600;900&family=Poller+One&family=Poppins:wght@100&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap');

:root {
  /*Colores web*/
  --color-uno: #3498db;
  --color-dos: #8e44ad;
  --color-tres: #c0392b;
  --color-cuatro: #16a085;
  --color-cinco: #34495e;
}


body {
  font-size: 15pt;
  /* background: url('img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: whitesmoke;


}


article[id] {
  scroll-margin-top: -60px;

}


/*Contenedor general (grilla layaut)*/
.contenedor {
  width: 95vw;
  max-width: 65em;

  margin: 1.2em auto;
  grid-gap: .7em;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, auto);
  grid-template-areas:

    'header    header    header'
    'nav       nav       nav'
    'main      main      main'
    'article   article   article'
    'nosotros  nosotros  nosotros'
    'mision    mision    mision'
    'aside     aside     aside '
    'section   section   section'
    'form      form      form'
    'footer    footer    footer';
}



/*Louder*/

.loader__contenedor {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.loader__imagen {
  width: 100px;
  height: auto;
  z-index: 99999;
}

.loader__texto {
  display: block;
  color: black;
  font-family: monospace;
  font-size: 15px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 30ch;

  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing{
  from { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent  }
}






/*header*/
.header {
  width: 100%;
  height: 100px;
  background: url('img/banner_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header::before {
  width: 100%;
  height: 100px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 0;
}

.header__titulo {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: white;
  z-index: 1;

}




/*barra de navegacion*/

/*inicio*/
.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;

}

/*Logo*/
.navbar__logo {
  width: 50px;
  margin-left: 4em;
}

/*Lista enlaces*/
.navbar__item {
  margin-right: 4em;
  font-weight: 600;
  display: flex;
  text-transform: uppercase;
  color: black;
}

.navbar__link {
  font-size: 12px;
  list-style: none;
  letter-spacing: 2px;
  margin: 0 12px;
  padding: 8px;
  cursor: pointer;
}

.navbar__link--activo {
  /* border-bottom: 2px solid var(--color-cuatro); */
  color: var(--color-tres);
  

}

/*icono buscar*/
.navbar__buscar {
  margin-right: 20px;
  color: var(--color-cinco);
}


/*icono hamburguesa*/
.navbar__menu {
  display: none;
}

.navbar__parrafo {
  display: none;
}






/*Final*/

/*Main (contendido principal*/

.main {
  width: 100%;
  height: 600px;
  background: url('img/alabanza4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 1em;
  background-attachment: fixed;
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.main::before {
  width: 100%;
  height: 600px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 0;
}

.main__text {

  text-align: center;
  color: white;
  z-index: 1;

}

.main__social {
  display: none;
}



.main__titulo {
  font-size: 52px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 15px auto;
  letter-spacing: 6px;
}


.main__tituloPre {
  font-size: 30px;
  font-family: 'Cardo', serif;
  font-weight: 100;
}

.main__tituloSub {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 5px;

}


.main__linea {
  width: 90px;
  height: 2px;
  background-color: var(--color-uno);
  text-align: center;
  margin: 15px auto;

}


.main__btn {
  z-index: 0;
  background-color: var(--color-uno);
  border-radius: 8px;
  padding: 8px;
  margin: 15px auto;
  cursor: pointer;
}



.main__btn input {
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  color: white;

}

.main__btn:hover {
  border: none;
  cursor: pointer;
  background-color: var(--color-tres);

}


/*bot칩n flotante de WhatsApp */

.btn__wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 1.8em;
  right: 33px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn__wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

/*Boton ir arriba*/


.btn__scrolltop {
  font-size: 20px;
  position: fixed;
  bottom: 10em;
  right: 35px;
  padding: 12px 16px;
  background: var(--color-tres);
  color: white;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: translateX(300px);
  transition: .6s ease-in-out;
  z-index: 2;
}

.btn__scrolltop--on {
  transform: translateX(0px);
}



/*Rehma*/
/*section Rehma */

.article {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: article;
  background-color: white;
  z-index: 0;
  overflow: hidden;

}

.article__card {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10em auto;
  padding: 40px;
}

.article__texto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.article__parrafo {
  text-align: center;
  padding: 2em;
  color: black;
  font-size: 25px;
  line-height: 1.3em;
  font-family: 'Cardo', serif;
  z-index: 1;
}

.article__pie {
  font-size: 12px;
  color: black;
  letter-spacing: 5px;
  margin-top: 2em;

}

.article__card svg {
  width: 50vw;
  position: absolute;
  top: 200px;
  left: -280px;
  z-index: -1;
}


.article__articulo {
  grid-area: articulo;
}




/* mision y vision */

.nosotros {
  grid-area: nosotros;
  width: 100%;
  height: auto;
  /* background-color: #DFDBE5; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  overflow: hidden;

}

/* texto e imagen Uno */
.nosotros__textoUno {
  width: 100%;
  color: black;
  padding: 60px;

  /* background-color: var(--color-dos); */
}

.nosotros__titulo--uno {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 15px;
  
}

.nosotros__tituloSub--uno {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 20px;
  margin-top: 10px;
}

.nosotros__parrafo--uno {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  text-align: justify;
}

.nosotros__imagenUno {
  width: 100%;
  height: auto;
  padding: 0px;
  /* border: 5px solid white; */
}

/* texto e imagen Dos */

.nosotros__textoDos {
  width: 100%;
  color: black;
  padding: 60px;
  text-align: right;
  /* background-color: var(--color-tres); */

}


.nosotros__titulo--dos {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 15px;
}

.nosotros__tituloSub--dos {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 20px;
  margin-top: 20px;
}

.nosotros__parrafo--dos {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  text-align: justify;
}

.nosotros__imagenDos {
  width: 100%;
  height: auto;
  padding: 0px;
  /* border: 5px solid white; */
}










/* estructura de texto y foto */

.mision {
  width: 100%;
  height: auto;
  grid-area: mision;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 3em;
  gap: 2em;

  background: url(img/alabanza3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mision::before {
  width: 100%;
  height: auto;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 0;
}



.mision__texto {
  width: 95%;
  color: white;
  z-index: 1;
  text-align: center;
  margin-top: 2em;
}

.mision__tituloPre {
  font-size: 20px;
  font-family: 'Cardo', serif;
  font-weight: 100;
  margin-bottom: 20px;
}

.mision__titulo {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  font-weight: 400;

}

.mision__tituloSub {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 10px;

  margin-top: 20px;
}

.mision__parrafo {

  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 21px;
  margin-top: 4em;
  text-align: left;
}

.mision__imagen {
  width: 20em;
}

.mision__icono {
  font-size: 5em;
  margin: 2em;

}


/* .mision__spotify iframe{
  border-radius: 8px;
} */


/* Banner Pastor */






/*Precursores (Videos de Youtube*/

.aside {
  width: 100%;
  height: auto;
  grid-area: aside;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  background: url(img/teclado.jpg);
  background-size: cover;
  background-attachment: fixed;

}


.aside::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 0;
}



.aside__texto {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  z-index: 1;
  margin-top: 6em;

}

.aside__titulo {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;

}

.aside__subtitulo {
  font-size: 1em;
  margin-top: 30px;
  letter-spacing: 10px;

}

.aside__iframe {
  display: flex;
  width: 90%;
  height: auto;
  z-index: 1;
  margin-bottom: 120px;
  align-items: center;
  justify-content: space-around;



}

.aside__iframe iframe {
  width: 400px;
  height: 250px;
  margin: 4em auto;

}







/*iglesia */

.iglesia {
  width: 100%;
  height: auto;
  grid-area: section;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color: white;

}

.iglesia__texto {
  text-align: center;
  color: black;
  margin: 4em;
  z-index: 1;

}

.iglesia__titulo {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 15px auto;
  letter-spacing: 10px;

}

.iglesia__tituloPre {
  font-size: 20px;
  font-family: 'Cardo', serif;
  font-weight: 100;
}

.iglesia__tituloSub {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 10px;

  font-size: 1em;
  margin-top: 30px;
  letter-spacing: 10px;
}

.iglesia__contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iglesia__card {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 210px 200px;
  grid-template-areas: "image""text";
  border-radius: 18px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 2em;
}

.iglesia__card:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.iglesia__cardTexto {
  grid-area: text;
  width: 95%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.iglesia__cardTitulo {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
  color: black;
  margin-top: 20px;
}

.iglesia__cardParrafo {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
  padding: 0px;
  line-height: 21px;
  margin: 15px;
}

.iglesia__boton {
  width: 40%;
  font-size: .7em;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-uno);
  border: 1px solid white;
  color: white;
  padding: 8px;
  border-radius: 6px;
  margin: 0 auto;
  cursor: pointer;
}

.iglesia__boton:hover {
  background-color: var(--color-cinco);
}

/*modificadores de imagen*/
.iglesia__imagen--ni침os {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/ni침os.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.iglesia__imagen--preAdolescentes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/preadolescente.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.iglesia__imagen--jovenes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/Alabanza2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.iglesia__imagen--matrimonios {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/matrimonios.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Modal ni침os */

.popup__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  transition: all 800ms;
  z-index: 999;
}

.popup__container:target {
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  opacity: 1;
}

.popup__container:target .popup__card {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}




.popup__card {
  width: 100%;
  max-width: 800px;
  height: 400px;
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 800ms;
  background-color: white;
}

.popup__img {
  width: 40%;
  background-image: url(img/alabanza3.jpg);
  background-size: cover;
  background-position: center;
}

.popup__text {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  padding: 50px;
  overflow-y: auto;
  text-align: center;
}

.popup__text h1 {
  font-size: 30px;
  color: black;
}

.popup__text p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 20px;
  font-size: 16px;
  line-height: 21px;
}

.popupBtn__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -18px;
  top: -18px;
  padding: 18px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 10px;
}


.popup__social {
  display: flex;
  text-decoration: none;
  text-align: left;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  padding: 0;
  margin: 10px;

}

.popup__social a {
  padding: 10px;
  color: black;

}

.popup__social a:hover {
  color: aqua;
}








/*Formulario*/
.form {
  width: 100%;
  background: url(img/formulario.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: auto;
  grid-area: form;
}

.form__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  margin: 70px auto;
  background: rgba(0, 0, 0, .4);
  padding: 30px 20px;
  border-radius: 7px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.form__titulo {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.form__input {
  width: 100%;
  /* background: rgba(0, 0, 0, .6); */
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: black;
}

.form__textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: black;

}

.form__button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  background: var(--color-uno);
  color: white;
  padding: 10px;
  border: none;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--color-cinco);
  transition: all .2s ease-in-out;
}






/*footer*/

.footer {
  width: 100%;
  height: auto;
  background-color: var(--color-cinco);
  grid-area: footer;
}

/*Grupo1*/
.footer__grupo1 {
  width: 100%;
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}

.footer__grupo1 strong {
  font-weight: 600;
}

/*Comunidad*/
.footer__texto {

  padding: 15px 30px;
  text-align: justify;
  color: #fff;


}

.footer__titulo {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 6px;
}

/*ubicacion---*/
.footer__ubicacion {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;

}

/*email---*/
.footer__correo {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;
}


/*Reuniones---*/
.footer__reuniones {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__parrafo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}







/*Sobre nosotros*/
.footer__texto1 {
  padding: 15px 30px;
  text-align: left;
  color: #fff;
}

.footer__titulo1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 6px;
}

.footer__parrafo1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;



}


/*Siguenos*/
.footer__texto2 {
  padding: 15px 30px;
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 2px;
}


.footer__titulo2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer__social {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: all 300ms ease;
  padding: 0;
  margin: 0;

}

.footer__social a {
  padding: 10px;
  color: white;

}

.footer__social a:hover {
  color: aqua;
}

.footer__grupo2 {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-uno);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  color: white;
}

.footer__grupo2 strong {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}