@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cardo:ital@1&family=Irish+Grover&family=Montserrat:wght@100;300;400;600;900&family=Nunito+Sans:wght@300;400;600;900&family=Poller+One&family=Poppins:wght@100;200;300;600;900&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap');

:root {
  /*Colores web*/
  --color-uno: #3498db;
  --color-dos: #8e44ad;
  --color-tres: #c0392b;
  --color-cuatro: #16a085;
  --color-cinco: #34495e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15pt;
  background-color: whitesmoke;
}

id {
  scroll-margin-top: 0px;
}

/*Contenedor general (grilla layaut)*/
.contenedor {
  width: 95vw;
  max-width: 65em;

  margin: 1.2em auto;
  grid-gap: .7em;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(18, auto);
  grid-template-areas:

    'header    header    header'
    'nav       nav       nav'
    'main      main      main'
    'article   article   article'
    'divLeft   divLeft   divLeft'
    'divRight  divRight  divRight'
    'mision    mision    mision'
    'banner    banner    banner'
    'aside     aside     aside '
    'section   section   section'
    'ribbonUno     ribbonUno     ribbonUno'
    /* 'ministerios   ministerios   ministerios' */
    'ribbon     ribbon     ribbon'
    'cuarto     cuarto    cuarto'
    'testimonios   testimonios   testimonios'
    'galeria   galeria   galeria'
    'form      form      form'
    'footer    footer    footer';
}


/*PreLouder*/
.loader__contenedor {
  width: 100vw;
  height: 100vh;
  /* background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loader__conjunto {
  width: 100vw;
  height: auto;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*flecha viene*/
.elemento__1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: white;
}

/*cruz*/
.elemento__2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 6%;
}

.vertical {
  width: 7px;
  height: 55px;
  background: white;
}

.horizontal {
  width: 40px;
  height: 7px;
  background-color: white;
  position: absolute;
  top: 25px;
}

/*tumba*/
.elemento__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 10%;
}

.circulo__1 {
  width: 3.2em;
  height: 3.2em;
  background: white;
  border: 3px solid white;
  position: relative;
  border-radius: 100%;
  animation: mymove 7s ease-out infinite;
  z-index: 1;
}

.circulo__2 {
  width: 3em;
  height: 3em;
  border: 5px solid white;
  border-radius: 100%;
  position: absolute;
}

@keyframes mymove {
  0% {
    right: 0px;
  }

  25% {
    right: 21px;
  }

  50% {
    right: 21px;
  }

  100% {
    right: 0px;
  }
}

/*flecha q va */
.elemento__4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: white;
  position: relative;
  transform: rotate(200deg);
}

/*flecha q vuelve */
.elemento__5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 5%;
  font-size: 50px;
  color: white;
  position: relative;
  transform: rotate(-20deg);
  /* Equal to rotateZ(45deg) */
}

.elemento__texto {
  width: 100vw;
  height: auto;
  text-align: center;
  padding: 10px;
}

.elemento__titulo {
  font-size: 18px;
  font-weight: 600;
  color: white;
}






/*header*/
.header {
  width: 100%;
  height: 100px;
  background: url('img/banner_header.png');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header::before {
  width: 100%;
  height: 100px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 0;
}

.header__titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: white;
  z-index: 1;
  padding: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

/*barra de navegacion*/

/*inicio*/
.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;

  transition: top 0.5s;

}

/*Logo*/
.navbar__logo {
  width: 40px;
  margin-left: 4em;
}

/*Lista enlaces*/
.navbar__item {
  font-weight: 600;
  display: flex;
  text-transform: uppercase;
  color: black;
}

.navbar__link {
  font-size: 12px;
  list-style: none;
  margin: 0 8px;
  padding: 2px;
}

.navbar__link:hover {
  color: var(--color-tres);
}

.navbar__link--activo {
  color: var(--color-tres);
}

.navbar__social {

  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: all 300ms ease;
  padding: 0;
  margin-right: 4em;

}
.navbarSocial--on{
  display: none;
}

.navbar__social img {
  margin: 12px;
}

.navFace{
  width: 25px;
  height: auto;
}
.navInsta{
  width: 25px;
  height: auto;
}
.navYoutube{
  width: 25px;
  height: auto;
}


/*icono hamburguesa*/
.navbar__menu {
  display: none;
}

/*Main (contendido principal*/
.main {
  width: 100%;
  height: 600px;
  background: url(img/main\ portada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -3em;
  /* background-attachment: fixed; */

  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: contrast(100%);
}

.main::before {
  width: 100%;
  height: 600px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.main__text {
  text-align: center;
  color: white;
  z-index: 1;
  overflow: hidden;
}

.main__social {
  display: none;
}

.main__titulo {
  font-size: 6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 55px auto;
  letter-spacing: 0px;
  padding: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.main__tituloPre {
  font-size: 35px;
  font-family: 'Cardo', serif;
  font-weight: 100;
}

.main__tituloSub {
  font-size: 25px;
  margin: 25px;
  font-weight: 400;
  letter-spacing: 2px;
}

.main__tituloFondo {
  position: absolute;
  top: .4em;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 310px;
  letter-spacing: 5px;
  line-height: 80px;
  font-family: 'Cardo', serif;
  color: rgba(138, 128, 128, 0.05);
  overflow: hidden;
}

.main__linea {
  width: 90px;
  height: 2px;
  background-color: var(--color-uno);
  text-align: center;
  margin: 15px auto;
}

.main__btn {
  z-index: 1;
  background-color: var(--color-uno);
  border-radius: 8px;
  padding: 8px;
  margin: 15px auto;

}

.main__btn input {
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: white;
}

.main__btn:hover {
  border: none;
  background-color: var(--color-tres);
}

/*botón flotante de WhatsApp */
.btn__wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 1.8em;
  right: 26px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn__wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

/*Boton ir arriba*/
.btn__scrolltop {
  font-size: 20px;
  position: fixed;
  bottom: 10em;
  right: 27px;
  padding: 12px 16px;
  background: var(--color-tres);
  color: white;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: translateX(300px);
  transition: .6s ease-in-out;
  z-index: 99;
}

.btn__scrolltop--on {
  transform: translateX(0px);
}

/*Rehma*/
.article {
  /* scroll-margin-top: -90px; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: article;
  background-color: white;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.article__card {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin: 10em auto;
  padding: 40px;
}

.article__texto {
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__parrafo {
  text-align: center;
  padding: 2em;
  color: black;
  font-size: 30px;
  line-height: 1.3em;
  font-family: 'Cardo', serif;
  z-index: 1;
}

.article__pie {
  font-size: 14px;
  color: black;
  letter-spacing: 5px;
  margin-top: 2em;
}

.article__card svg {
  width: 50vw;
  position: absolute;
  top: 200px;
  left: -280px;
  z-index: -1;
}

.article__articulo {
  grid-area: articulo;
}

/* Pantalla dividida izquierda*/
.dividida__left {
  /* scroll-margin-top: 0px; */
  grid-area: divLeft;
  /* height: 100%; */
  height: auto;
  background-image: url(img/nosotrosDos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.dividida__left::before {
  width: 100%;
  height: auto;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1;
}

.left__imagen--right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left__frase {
  color: white;
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 25px;
  font-weight: 100;
  padding: 1.5em;
  z-index: 1;
}

.left__textoDos {
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 60px;
  text-align: left;
  /* background: linear-gradient( var(--color-tres), rgba(255, 255, 255, 0.289), rgba(0, 0, 255, 0.1)); */
  background-color: rgba(59, 64, 134, 0.275);
  z-index: 9;
}

.left__titulo--dos {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.left__tituloSub--dos {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.left__parrafo--dos {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  text-align: justify;
}

/* Pantalla dividida derecha*/
#dividida__right {
  /* scroll-margin-top: 0px; */
}

.dividida__right {
  grid-area: divRight;
  /* height: 100%; */
  height: auto;
  background-image: url(img/javier.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.dividida__right::before {
  width: 100%;
  height: auto;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1;
}


.right__imagen--left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.right__frase {
  color: white;
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 25px;
  font-weight: 100;
  padding: 1.5em;
  z-index: 1;
}

.right__textoDos {
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 60px;
  text-align: right;
  background: #c03a2b66;
  z-index: 9;
}

.right__titulo--dos {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
}

.right__tituloSub--dos {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.right__parrafo--dos {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  text-align: justify;
}

/* banner */
.banner {
  grid-area: banner;
  background: url(img/nubes\ banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 320px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.banner::before {
  width: 100%;
  height: 320px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
}

.banner cite {
  font-size: 20px;
  color: wheat;
  z-index: 2;
}

.banner__titulo {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  margin-top: 125%;


}

#bannerTitulo{
  width: 100%;
  position: relative;

}

.banner__img {
  width: 70px;
  height: 70px;
  z-index: 2;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  bottom: 35px;
  filter: contrast(100%),
}

/* La vision */
/* estructura de texto y foto */

.mision {
  /* scroll-margin-top: 0px; */
  width: 100%;
  height: 100%;
  grid-area: mision;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3em;
  gap: 1em;
  background: #0b2e41;

  /* background: #360033; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0b8793, #360033); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0b8793, #360033); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.mision__texto {
  width: 100%;
  color: white;
  z-index: 1;
  text-align: center;
  margin: 5em auto 3em;
}

.mision__parrafo:active {
  cursor: default;
  display: block;
}

.mision__tituloPre {
  font-size: 20px;
  font-family: 'Cardo', serif;
  font-weight: 100;
  margin-bottom: 10px;
}

.mision__titulo {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.mision__tituloSub {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.mision__parrafo {
  font-size: 14px;
  line-height: 21px;
  margin-top: 3em;
  text-align: justify;
}

.detalles {
  font-size: 14px;
  line-height: 21px;
  margin-top: 1em;
  text-align: justify;
}

summary {
  color: aqua;
  margin: 20px 0;
  cursor: pointer;
  outline: none;
}

.mision__texto img {
  width: 400px;
  z-index: 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
}

/* texto descontracturado */
.t-stroke {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin: auto;
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;

  font-size: 60px;
  line-height: 80px;
}

.t-shadow {
  text-shadow: 7px 7px var(--color-uno);
}

/*Precursores (Videos de Youtube*/
.aside {
  /* scroll-margin-top: 0px; */
  width: 100%;
  height: 100vh;
  grid-area: aside;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  background: url(img/multimedia.jpg);
  background-size: cover;
  background-attachment: fixed;
  gap: 5px;
}

.aside::before {
  width: 100%;
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 0;
}

.aside__texto {
  width: 30%;
  height: 50%;
  text-align: center;
  color: white;
  z-index: 1;
  background: rgba(59, 64, 134, 0.275);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside__titulo {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  padding: 5px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.aside__subtitulo {
  font-size: 15px;
  padding: 10px;
  letter-spacing: 0px;
}

.aside__iframe {
  display: flex;
  width: 90%;
  height: auto;
  z-index: 1;
  margin-bottom: 120px;
  align-items: center;
  justify-content: space-around;
}

.aside__iframe iframe {
  width: 400px;
  height: 300px;
  margin: 4em auto;
}

.aside__texto2 {
  width: 30%;
  height: 50%;
  text-align: center;
  color: white;
  z-index: 1;
  background: rgba(192, 58, 43, 0.165);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.aside__titulo2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  padding: 5px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.aside__subtitulo2 {
  font-size: 15px;
  padding: 10px;
  letter-spacing: 0px;
}

/* aside ultimas reuniones */
.aside__reuniones {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1;
  border-radius: 10px;

}

.aside__reuniones i {
  font-size: 50px;
  color: white;
  margin: 50px auto;
  padding: 5px;
}

.aside__texto3 {
  width: 30%;
  height: 50%;
  text-align: center;
  color: white;
  z-index: 1;
  background: rgba(59, 64, 134, 0.275);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.aside__titulo3 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
  padding: 5px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.aside__subtitulo3 {
  font-size: 15px;
  padding: 10px;
  letter-spacing: 0px;
}

.aside__btn {
  width: 100px;
  z-index: 1;
  background-color: var(--color-uno);
  border-radius: 8px;
  padding: 8px;
  margin: 10px auto;
  cursor: pointer;
}

.aside__btn input {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: white;
}

.aside__btn:hover {
  border: none;
  cursor: pointer;
  background-color: var(--color-tres);
}

.aside__imagen {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: 3em auto;
  gap: 10em;
}


.multimedia__texto {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  z-index: 1;
  margin: 5em auto 3em;
}

.multimedia__titulo {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
  z-index: 9;

}

.multimedia__subtitulo {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}



/*iglesia */
.iglesia {
  /* scroll-margin-top: 0px; */
  width: 100%;
  height: auto;
  grid-area: section;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color: white;
  background: linear-gradient(90deg, #f1f1f1, #d5d5d5)
}

.iglesia__texto {
  text-align: center;
  color: black;
  margin: 5em auto 3em;
  z-index: 1;

}

.iglesia__titulo {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
}

.iglesia__tituloPre {
  font-size: 20px;
  font-family: 'Cardo', serif;
  font-weight: 100;
}

.iglesia__tituloSub {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.iglesia__contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iglesia__card {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 210px 200px;
  grid-template-areas: "image""text";
  border-radius: 18px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  z-index: 1;
  position: relative;
  margin: 2em;
}

.iglesia__cardTexto {
  grid-area: text;
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.iglesia__cardTitulo {
  font-size: 18px;
  font-weight: 600;
  /* letter-spacing: 3px; */
  color: black;
  margin-top: 20px;
}

.iglesia__cardParrafo {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
  padding: 0px;
  line-height: 21px;
  margin: 15px;
}

.iglesia__boton {
  width: 40%;
  font-size: .7em;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--color-uno);
  border: 1px solid white;
  color: white;
  padding: 8px;
  border-radius: 6px;
  margin: 0 auto;
  cursor: pointer;
}

.iglesia__boton:hover {
  background-color: var(--color-cinco);
}



/*modificadores de imagen*/
.iglesia__imagen--niños {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/niñosDos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: contrast(1.4) brightness(.9);
}


/*modificadores de preAdolescentes*/
.iglesia__imagen--preAdolescentes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/preadolescentes.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

/*modificadores de jovenes*/
.iglesia__imagen--jovenes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/jovenes(nuevo).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  filter: contrast(1.2);
}

/*modificadores de matrimonios grandes*/
.iglesia__imagen--matrimoniosGrandes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/matrimonios\(nuevo\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.2) brightness(1.4);
}

/*modificadores de matrimonios jovenes*/
.iglesia__imagen--matrimoniosJovenes {
  grid-area: image;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background: url('img/matri\ joven.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  filter: contrast(1.9) brightness(1);
}



/* Modal niños */
.popup__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  transition: all 800ms;
  z-index: 999;
}

.popup__container:target {
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  opacity: 1;
}

.popup__container:target .popup__card {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}

.popup__card {
  width: 100%;
  max-width: 800px;
  height: 400px;
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 800ms;
  background-color: white;
}

.popup__img {
  width: 40%;
  background-image: url(img/jovenesDos.png);
  background-size: cover;
  background-position: left;
}

.popup__text {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  padding: 50px;
  overflow-y: auto;
  text-align: center;
}

.popup__text h2 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.popup__text p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin-top: 20px;
  font-size: 12px;
  line-height: 21px;
}

.popupBtn__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -18px;
  top: -18px;
  padding: 18px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 10px;
}


.popup__social {
  display: flex;
  text-decoration: none;
  text-align: left;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  padding: 0;
  margin: 10px;
}

.popup__social a {
  padding: 10px;
  color: black;
}

.popup__social a:hover {
  color: var(--color-tres);
}

/* ribbonUno */
.ribbonUno {
  width: 100%;
  height: auto;
  grid-area: ribbonUno;
  background: url(img/main2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 150px;
}

.ribbonUno::before {
  width: 100%;
  height: auto;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, .8);
}

.ribbonUno cite {
  color: wheat;
  z-index: 2;
}

.ribbonUno__titulo {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.ribbonUno__img {
  width: 60px;
  height: 60px;
  z-index: 2;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  filter: contrast(100%),
}

/* card ribbon */
.ribbonUno__card {
  width: 60%;
  height: 350px;
  border-radius: 8px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  display: flex;
  margin: 6em auto;
  z-index: 2;


}

.ribbonUno__card__imagen {
  width: 100em;
  height: auto;
  background: url(img/main.png);
  background-size: 50em;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  filter: contrast(1.7) brightness(1.4);

}


.ribbonUno__card__texto {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
}

.ribbonUno__card__tituloPre {
  color: black;
  font-size: 15px;
  font-family: 'Cardo', serif;
  font-weight: 100;
  margin-bottom: 10px;
}

.ribbonUno__card__titulo {
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.ribbonUno__card__linea {
  width: 90px;
  height: 2px;
  background-color: var(--color-uno);
  text-align: center;

}

.ribbonUno__card__parrafo {
  color: black;
  font-size: 10px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.ribbonUno__card__btn {
  width: 100px;
  z-index: 1;
  background-color: var(--color-uno);
  border-radius: 8px;
  padding: 8px;
  margin: 0 auto;
  cursor: pointer;
}

.ribbonUno__card__btn input {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: white;
}

.ribbonUno__card__btn:hover {
  border: none;
  cursor: pointer;
  background-color: var(--color-uno);

}

/* ribbon */
.ribbon {
  width: 100%;
  height: 30vh;
  grid-area: ribbon;
  position: relative;
}

.ribbon__diagonal {
  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 150px;

  /* Take full size */
  height: 60%;
  width: 100%;

  /* Create diagonal sides */
  transform: skewY(-5deg);

  /* Background color */
  background: linear-gradient(90deg, #f1f1f1, #d5d5d5);


  /* Displayed under the main content */
  z-index: -1;
}


/* CUARTO SECTION */
.cuarto {
  width: 100%;
  height: auto;
  grid-area: cuarto;
  background-color: white;
  background: linear-gradient(90deg, #f1f1f1, #d5d5d5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cuarto card */
.cuartoCard {
  width: 60%;
  height: 350px;
  border-radius: 8px;
  margin: 0 auto;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;

  display: flex;
  margin: 3em auto;

}

.cuartoCard__imagen {
  width: 100em;
  height: auto;
  background: url(img/cuartodeoracion.jpg);
  background-size: 50em;
  background-repeat: no-repeat;
  background-position: top;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  filter: contrast(1.7) brightness(1.4);
}


.cuartoCard__texto {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.cuartoCard__tituloPre {
  color: black;
  font-size: 15px;
  font-family: 'Cardo', serif;
  font-weight: 100;
  margin-bottom: 10px;
}

.cuartoCard__titulo {
  color: black;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.cuartoCard__linea {
  width: 90px;
  height: 2px;
  background-color: var(--color-uno);
  text-align: center;

}

.cuartoCard__parrafo {
  color: black;
  font-size: 10px;
  line-height: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.cuartoCard__btn {
  width: 100px;
  z-index: 1;
  background-color: var(--color-uno);
  border-radius: 8px;
  padding: 8px;
  margin: 0 auto;
  cursor: pointer;
}

.cuartoCard__btn input {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: white;
}

.cuartoCard__btn:hover {
  border: none;
  cursor: pointer;
  background-color: var(--color-uno);

}

/* Testimonios */
.container__diagonal {
  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 250px;

  /* Take full size */
  height: 60%;
  width: 100%;

  /* Create diagonal sides */
  transform: skewY(-5deg);

  /* Background color */
  background: linear-gradient(90deg, #f1f1f1, #d5d5d5);

  /* Displayed under the main content */
  z-index: -1;
}

.swiper {
  /* scroll-margin-top: 0px; */
  width: 100%;
  height: 100vh;
  grid-area: testimonios;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.swiper-slide {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;

}

.swiper-texto {
  width: 40%;
  height: 70vh;
  border-radius: 18px;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  text-align: center;
  color: black;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 20px;
  line-height: 22px;
  overflow: hidden;
}

.swiper-texto h2 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 65px;
  color: black;
}

.swiper-texto h3 {
  font-size: 15px;
}

.swiper-texto p {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 16px;
  text-align: justify;
  font-family: 'Cardo', serif;
}

.swiper-imagen {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  z-index: 9;
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
  margin: auto;
}

.swiper-fondoImg {
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 0;
  position: relative;

  background: linear-gradient(270deg, #0b2e41, #20bfc8, #2248e3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;


  @-webkit-keyframes AnimationName {
    0% {
      background-position: 19% 0%
    }

    50% {
      background-position: 82% 100%
    }

    100% {
      background-position: 19% 0%
    }
  }

  @-moz-keyframes AnimationName {
    0% {
      background-position: 19% 0%
    }

    50% {
      background-position: 82% 100%
    }

    100% {
      background-position: 19% 0%
    }
  }

  @keyframes AnimationName {
    0% {
      background-position: 19% 0%
    }

    50% {
      background-position: 82% 100%
    }

    100% {
      background-position: 19% 0%
    }
  }


}


/*Galeria*/
.galeria {
  /* scroll-margin-top: 0px; */
  grid-area: galeria;
  width: 100%;
  height: auto;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: .8em;
}

.galeria__texto {
  width: 100%;
  height: auto;
  text-align: center;
  color: black;
  z-index: 1;
  margin: 5em auto 3em;
}

.galeria__titulo {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 50px;

}

.galeria__subtitulo {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.galeria__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.galeria__picture::before {
  content: "Tristán Suárez";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6c678ba6;
  transform: scale(0);
  transition: transform .4s;
  color: white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6em;
}

.galeria__picture:hover::before {
  transform: scale(1) rotate(360deg);
}

.galeria__grid {
  padding-bottom: 3em;
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 160px;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img4"
    "img5 img5 img6 img7"
    "img5 img5 img8 img8";
  gap: .8em;
}

.galeria__picture--g1 {
  grid-area: img1;
  filter: contrast(1.1) brightness(.9);

}

.galeria__picture--g2 {
  grid-area: img2;
  filter: contrast(1.4) brightness(.9);
}

.galeria__picture--g3 {
  grid-area: img3;
  filter: contrast(1.4) brightness(.9);
}

.galeria__picture--g4 {
  grid-area: img4;
  filter: contrast(1) brightness(.9);
}

.galeria__picture--g5 {
  grid-area: img5;
  filter: contrast(1.4) brightness(.9);
}

.galeria__picture--g6 {
  grid-area: img6;
  filter: contrast(1.4) brightness(.9);
}

.galeria__picture--g7 {
  grid-area: img7;
  filter: contrast(1.4) brightness(.9);
}

.galeria__picture--g8 {
  grid-area: img8;
  filter: contrast(1.4) brightness(.9);
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Formulario*/
.form {
  width: 100%;
  background: url(img/formulario.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: auto;
  grid-area: form;
}

.form__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 87%;
  margin: 2em auto;
  background: rgba(0, 0, 0, .4);
  padding: 30px 20px;
  border-radius: 7px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.form__titulo {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  font-size: 1em;
  margin-bottom: 20px;
  letter-spacing: 5px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.form__input {
  width: 100%;
  /* background: rgba(0, 0, 0, .6); */
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: black;
}

.form__textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 14px;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: black;

}

.form__button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  background: var(--color-uno);
  color: white;
  padding: 10px;
  border: none;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--color-cinco);
  transition: all .2s ease-in-out;
}

/* Map */
section .map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
  margin: 1em auto;
  padding: 60px 40px;
}

/*footer*/

.footer {
  width: 100%;
  height: auto;
  background-color: var(--color-cinco);
  grid-area: footer;
  overflow: hidden;
}

/*Grupo1*/
.footer__grupo1 {
  width: 100%;
  max-width: 1200px;
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;


}

.footer__grupo1 strong {
  font-weight: 600;
}

/*Comunidad*/
.footer__texto {
  padding: 15px 30px;
  text-align: left;
  color: #fff;
}

.footer__titulo {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 600;
}

/*ubicacion---*/
.footer__ubicacion {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;

}

/*email---*/
.footer__correo {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;
}


/*Reuniones---*/
.footer__reuniones {
  display: flex;
  align-items: baseline;
  color: #efefef;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__parrafo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

/*Sobre nosotros*/
.footer__texto1 {
  padding: 15px 30px;
  text-align: left;
  color: #fff;
}

.footer__titulo1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}

.footer__parrafo1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

/*Siguenos*/
.footer__texto2 {
  padding: 15px 30px;
  text-align: left;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer__titulo2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}

.footer__social {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: all 300ms ease;
  padding: 0;
  margin: 0;

}

.footer__social a {
  padding: 10px;
  color: white;

}

.footer__social a:hover {
  color: var(--color-tres);
}

.footer__grupo2 {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-uno);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  color: white;
}

.footer__grupo2 strong {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}